@{
    ViewData["Title"] = "About";
}


<center>
    <div class="col-md-6">
        <h2>Principle Message</h2>
        <p>
            There is a holy Hadith, seek knowledge from the rock to the grave.Everyones knows that , Education is the backbone of a nation.
            Thats why every parents should approch their children for Education.But now all the respected customers are busy to live beautifully in the competitive world.
            Thats why we build Our Nasir Uddin model School & College for the sake of students. Where students can keep their body and mind fresh.

        </p>
        <p>
            <strong>
                -Md. Abdul Kadir
                (BBA, CA)
            </strong>
        </p>

    </div>
    <div class="col-md-6">
        <h2>About Us</h2>
        <p>
            An inspiring a vision of providing quality, cost effective education with diverse aspects of education which would lead to happy and creative children was envisioned by the creative futurists of the Bangla Japan group and they were motivated to establish such an educational institution in Dhaka.
            Bangla Japan Group is one of the most prestigious corporate houses in Bangladesh.
            With such high ideals in mind, the BG Group formed a joint venture with the NUS Society (NUSS), a pioneer in education .
            NUMSC has started its journey towards spreading the light of quality education.
        </p>

    </div>
    <br />
    <br /><br />
    <br /><br />
    <br /><br />
    <br /><br />
    <br /><br />
    <br /> <br /><br />
    <br />

</center>