@{
    ViewData["Title"] = "Contact Us:";
}
<h2>@ViewData["Title"]</h2>


<center>
    <div class="col-md-6">
        <h3>
                Dendabar (Savar Cant.)<br />
                Ashulia, Savar<br />
                Dhaka - 1344<br />
                <abbr title="Phone">Contact No:</abbr>
                01943334375
        </h3>

    </div>
    <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d756.2440140874302!2d90.25447462916834!3d23.922681424926903!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755e8f1763e6b4b%3A0x5c4f544571c32e59!2sNasir+Uddin+High+School+and+College!5e1!3m2!1sen!2sbd!4v1523224614215" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>

    </div>
    <br />
    <br /><br />
    <br /><br />
    <br /><br />
    <br /><br />
    <br /><br />
    <br /> <br /><br />
    <br />
</center>