
<div class="container">
    <center><h2>Admission Time Cost</h2></center>
    <center>
        <table class="table table-bordered" style="width:50%;">
            <thead>
                <tr>
                    <th>Class</th>
                    <th>Total Cost</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Nursery to 5th</td>
                    <td>1550 bdt</td>
                </tr>
                <tr>
                    <td>6th to 8th</td>
                    <td>1850 bdt</td>
                </tr>
                <tr>
                    <td>9th to 10th</td>
                    <td>2150 bdt</td>
                </tr>
            </tbody>
        </table>
    </center>
</div>
<br /><br />

<div class="container">
    <center><h2>Monthly Cost</h2></center>
    <center>
        <table class="table table-bordered" style="width:50%;">
            <thead>
                <tr>
                    <th>Class</th>
                    <th>Session Charge</th>
                    <th>Monthly Cost</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Nursery to 5th</td>
                    <td>800 bdt</td>
                    <td>350 bdt</td>
                </tr>
                <tr>
                    <td>6th to 8th</td>
                    <td>1000 bdt</td>
                    <td>370 bdt</td>
                </tr>
                <tr>
                    <td>9th to 10th</td>
                    <td>1200 bdt</td>
                    <td>400 bdt</td>
                </tr>
            </tbody>
        </table>
    </center>
</div>
