<div class="container">
    <div class="row">
        <div class="alert alert-danger alert-dismissible" role="alert">
           
            <marquee><p style="font-family: Impact; font-size: 18pt">Nasir Uddil Model School & College Admission is going on!!!!</p></marquee>
        </div>
    </div>
</div>
<div class="container">
    <center><h2>Admission Circular</h2></center>
   
    <center> <img src="~/images/29942352_1796832710612625_368857554_o.jpg" class="img-responsive" alt="Cinque Terre" width="750" height="300"></center>
</div>
